<form class="legends sheet move-sheet {{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <h1 class="title">
      <input name="name" type="text" value="{{item.name}}" placeholder="Name" class="editable" />
    </h1>
    <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
  </header>
  <section class="sheet-body">
    <section class="rollable row">
      <label class="cell title">
        <input type="checkbox" name="data.rollable" {{checked data.data.rollable}}>
      </label>
      <label class="cell title">{{localize "legends.moves.roll-with"}}</label>
      <select class="cell cell-3" name="data.rollStat">
        <option value="">{{localize "legends.common.none"}}</option>
        {{#select data.data.rollStat}}
          {{#each config.stats as |label value|}}
            <option value="{{value}}">{{localize label}}</option>
          {{/each}}
        {{/select}}
      </select>
    </section>

    {{> "systems/legends/templates/partials/description-editor.hbs" }}
  </section>
  <section class="item move" data-item-id="{{data._id}}">
    <a class="title item-roll fire">Show in Chat</a>
  </section>
</form>
