<section class="item move" data-item-id="{{_id}}">
  <h3 class="title">
    {{#if inSheet}}
      <a class="toggle-drawer black menu">{{name}}</a>
      <a class="item-roll small weapons">
        <i class="fas fa-comment" title="{{localize "legends.common.to-chat"}}"></i>
      </a>
      {{#if data.rollable}}
        <a class="move-roll small fire" data-move-stat="{{data.rollStat}}" data-move-name="{{name}}">
          <i class="fas fa-dice" title="{{#if data.rollStat}}{{localize (tr_path "legends.stats" data.rollStat)}}{{else}}{{localize "legends.roll.dialog.submit"}}{{/if}}"></i>
        </a>
      {{/if}}
    {{else}}
      {{name}}
    {{/if}}
  </h3>
  {{#if inSheet}}<div class="drawer">{{/if}}
    {{{data.description}}}
  {{#if inSheet}}</div>{{/if}}
</section>
